body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* RECIPE/CALENDAR CARDS */

.recipe-card img {
  height: 200px
}

.calendar-card img{
  height: 100px
}

/* MY RECIPES/CALENDAR */

.calendar-div table {
  border: 2px solid black;
  width: 1200px;
  height: 200px;
  margin: auto
}

.calendar-div th {
  border-bottom: 1px solid black;
}

.calendar-div td {
  text-align: center;
  height: 150px
}

/* GROCERIES */

