body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

/* NAVBAR */

.navbar {
  position: relative;
  top: 0px;
  left: -2px;
  right: -4px;
  width: 100%;
  height: 14px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(190, 190, 190, 0.6);
  background-color: rgb(236, 236, 237)
}

.navbar img {
  height: 70px;
  position: absolute;
  left: 30px;
  top: 0px
}

.link1, .link2, .link3 {
  color: #EE573D
}

.link1:hover, .link2:hover, .link3:hover {
  color: rgb(78, 80, 99)
}

.link1 {
  display: inline-block;
  position: relative;
  top: -20px;
  left: -50px
}

.link2 {
  display: inline-block;
  position: relative;
  top: -20px;
  left: 50px
}

.link3 {
  display: inline-block;
  position: relative;
  top: -20px;
  left: 150px
}

.signup-login-div {
  position: absolute;
  right: 30px;
  top: 25px
}

.signup-login-div button {
  height: 30px;
  width: 80px;
  margin-right: 15px;
  font-size: 17px;
  background-color: #EE573D;
  color: white;
  border: none;
  border-radius: 4px
}

.signup-login-div button:hover, .logout-button:hover {
  background-color: rgb(78, 80, 99);
  cursor: pointer
}

.logout-button {
  position: absolute;
  right: 40px;
  top: 25px;
  height: 30px;
  width: 80px;
  font-size: 17px;
  background-color: #EE573D;
  color: white;
  border: none;
  border-radius: 4px
}

/* LOGIN */

.login-div {
  text-align: center;
}

.login-div h1 {
  color: rgb(78, 80, 99);
}

.login-div input {
  margin-right: 10px;
  height: 25px;
  width: 200px;
  border-color:#EE573D;
  border-style: solid;
  border-radius: 4px;
  padding-left: 5px;
}

.login-div button {
  height: 30px;
  width: 80px;
  background-color:#EE573D;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 17px;
}

.login-div button:hover {
  background-color:rgb(78, 80, 99);
  cursor: pointer;
}

/* HOME */

.home-div {
  text-align: center;
}

.home-div h1{
  color: rgb(78, 80, 99)
}

.recipe-cards {
  margin: auto;
  width: 90%;
}

.recipe-card-div {
  display: inline-block;
  background-color:#EE573D;
  height: 280px;
  width: 280px;
  margin-right: 50px;
  margin-bottom: 100px;
  border-radius: 4px
}

.recipe-card-div img {
  height: 250px;
  width: 280px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px
}

.recipe-card-div h3 {
  color: white;
  margin-bottom: -10px;
}

.recipe-card-div h3:hover {
  color: rgb(78, 80, 99);
}


/* MY RECIPES */

.my-recipes-div {
  text-align: center;
}

.login-link, .login-link:hover {
  color:#EE573D
}

.my-recipes-div h1, h2, label {
  color:rgb(78, 80, 99)
}

.my-recipes-btn {
  height: 32px;
  width: 140px;
  background-color:#EE573D;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  margin-right: 8px
}

.my-recipes-div button:hover {
  background-color:rgb(78, 80, 99);
  cursor: pointer
}

.my-recipes-div label {
  font-size: 17px;
}

.my-recipes-div input {
  margin-right: 10px;
  height: 24px;
  padding-left: 4px;
}

.recipe-container {
  margin: auto;
  width: 100%;
  margin-top: 40px;
}

/* ADD RECIPE */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 7px
}

.popup-inner .close-btn {
  position: absolute;
  top: 0px;
  right: 18px;
  border-radius: 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 3px;
}

.popup-inner form {
  margin-top: 20px
}

.popup-inner input {
  margin-top: 10px;
}

.popup-inner p {
  margin-bottom: 5px
}

.popup-inner label {
  margin-left: 8px
}

.popup-inner button {
  height: 32px;
  width: 110px;
  background-color:#EE573D;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  margin-top: 20px
}

/* ADD DATE */
.popup2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999
}

.popup-inner2 {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 300px;
  background-color: white;
  border-radius: 7px
}

.popup-inner2 .close-btn2 {
  position: absolute;
  top: 0px;
  right: 18px;
  border-radius: 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 3px;
}

.popup-inner2 p {
  margin-bottom: 5px
}

.popup-inner2 button {
  height: 32px;
  width: 110px;
  background-color:#EE573D;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  margin-top: 20px
}

/* MYRECIPECARD */

.recipe-card {
  display: inline-block;
  background-color:#EE573D;
  height: 300px;
  width: 340px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 120px;
  border-radius: 4px;
}

.recipe-card h3, a {
  color: white;
}

.recipe-card h3:hover, a:hover {
  color: rgb(78, 80, 99);
}

.recipe-card p {
  margin-top: -10px
}

.recipe-card img {
  height: 220px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px
}

.recipe-card-btn {
  height: 32px;
  width: 100px;
  background-color:#EE573D;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 5px
}

/* PLANNER */

.planner-div {
  text-align: center;
}

.planner-div h1, h2 {
  color: rgb(78, 80, 99);
}

.planner-div table {
  border-style: solid;
  border-color:#EE573D;
  border-width: 2px;
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}

.planner-div th {
  border-bottom: 1px solid #EE573D;
  height: 50px
}

.planner-div table th {
  color:#EE573D
}

.bottom-div {
  margin-top: 20px
}

.calendar-card {
  display: block;
  background-color:#EE573D;
  height: 300px;
  width: 160px;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 10px
}

.calendar-card-h3 {
  padding-top: 15px;
  padding-left: 6px;
  padding-right: 6px;
}

.calendar-card img {
  width: 100%;
  height: 120px;
  margin-bottom: 5px;
  margin-top: -10px
}

.calendar-card label {
  color: white
}

.calendar-card p {
  font-size: xx-small
}

.calendar-card button {
  border: none;
  background-color: white;
  height: 24px;
  width: 100px;
  border-radius: 4px;
  margin-bottom: 8px
}

.calendar-card button:hover{
  background-color:rgb(78, 80, 99);
  cursor: pointer;
  color: white
}

/* GROCERIES */
.groceries-div {
  text-align: center
}

.groceries-div h1 {
  color:rgb(78, 80, 99)
}

.insta-link {
  color:#EE573D;
}

.insta-link:hover {
  color:rgb(78, 80, 99)
}

.all-lists {
  margin: auto;
  width: 90%;
}

.list-div {
  display: inline-block;
  margin-top: 20px;
  text-align: left;
  width: 200px;
  vertical-align: text-top
}

